.product-card
  overflow hidden
  height 80px
  background white
  box-shadow 0 0 14px rgba(0,0,0,0.2)
  display flex;
  align-items center
  margin-top 14px
  margin-bottom 14px

.product-info-left
  padding-left 10%
  width 47%

.product-info-center
  width 33%

.product-name, .product-colors
  padding-top 8px

.product-availability
  font-size 18px
