// Import all partials
@require './_*.styl'

.spinner-div
  width 100%
  height 100%

.product-spinner
  position fixed
  left 50%
  top 50%
  justify-content center
  align-items center

.not-found
  margin-left 10%
  margin-top 5%

.pre-font
  font-size 12px
